@page "/"

<PageTitle>Home</PageTitle>

<MudCarousel Class="mud-width-full" Style="block-size: 50px; margin-block-start: -120px !important;" ShowArrows="true" ShowBullets="false" AutoCycle="false" TData="object">
     <MudCarouselItem Transition="Transition.Slide" Color="@Color.Secondary">
        <div class="d-flex" style="block-size: 100%;">
            <MudPaper Class="mx-auto my-auto d-flex" style="block-size: 70%; inline-size: 50%; background-color: white;">
                <MudFab Class="mx-auto my-auto" Icon="@Icons.Filled.CalendarMonth" Style="color: #555E61; background-color: white; block-size: 20px; box-shadow: none;" Label="02/08 TU" />
            </MudPaper>
        </div>
    </MudCarouselItem>
     <MudCarouselItem Transition="Transition.Slide" Color="@Color.Secondary">
        <div class="d-flex" style="block-size: 100%;">
            <MudPaper Class="mx-auto my-auto d-flex" style="block-size: 70%; inline-size: 50%; background-color: white;">
                <MudFab Class="mx-auto my-auto" Icon="@Icons.Filled.CalendarMonth" Style="color: #555E61; background-color: white; block-size: 20px; box-shadow: none;" Label="03/08 TU" />
            </MudPaper>
        </div>
    </MudCarouselItem>
     <MudCarouselItem Transition="Transition.Slide" Color="@Color.Secondary">
        <div class="d-flex" style="block-size: 100%;">
            <MudPaper Class="mx-auto my-auto d-flex" style="block-size: 70%; inline-size: 50%; background-color: white;">
                <MudFab Class="mx-auto my-auto" Icon="@Icons.Filled.CalendarMonth" Style="color: #555E61; background-color: white; block-size: 20px; box-shadow: none;" Label="04/08 TU" />
            </MudPaper>
        </div>
    </MudCarouselItem>
     <MudCarouselItem Transition="Transition.Slide" Color="@Color.Secondary">
        <div class="d-flex" style="block-size: 100%;">
            <MudPaper Class="mx-auto my-auto d-flex" style="block-size: 70%; inline-size: 50%; background-color: white;">
                <MudFab Class="mx-auto my-auto" Icon="@Icons.Filled.CalendarMonth" Style="color: #555E61; background-color: white; block-size: 20px; box-shadow: none;" Label="05/08 TU" />
            </MudPaper>
        </div>
    </MudCarouselItem>
     <MudCarouselItem Transition="Transition.Slide" Color="@Color.Secondary">
        <div class="d-flex" style="block-size: 100%;">
            <MudPaper Class="mx-auto my-auto d-flex" style="block-size: 70%; inline-size: 50%; background-color: white;">
                <MudFab Class="mx-auto my-auto" Icon="@Icons.Filled.CalendarMonth" Style="color: #555E61; background-color: white; block-size: 20px; box-shadow: none;" Label="06/08 TU" />
            </MudPaper>
        </div>
    </MudCarouselItem>
     <MudCarouselItem Transition="Transition.Slide" Color="@Color.Secondary">
        <div class="d-flex" style="block-size: 100%;">
            <MudPaper Class="mx-auto my-auto d-flex" style="block-size: 70%; inline-size: 50%; background-color: white;">
                <MudFab Class="mx-auto my-auto" Icon="@Icons.Filled.CalendarMonth" Style="color: #555E61; background-color: white; block-size: 20px; box-shadow: none;" Label="07/08 TU" />
            </MudPaper>
        </div>
    </MudCarouselItem>
     <MudCarouselItem Transition="Transition.Slide" Color="@Color.Secondary">
        <div class="d-flex" style="block-size: 100%;">
            <MudPaper Class="mx-auto my-auto d-flex" style="block-size: 70%; inline-size: 50%; background-color: white;">
                <MudFab Class="mx-auto my-auto" Icon="@Icons.Filled.CalendarMonth" Style="color: #555E61; background-color: white; block-size: 20px; box-shadow: none;" Label="08/08 TU" />
            </MudPaper>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide" Color="@Color.Secondary">
        <div class="d-flex" style="block-size: 100%;">
            <MudPaper Class="mx-auto my-auto d-flex" style="block-size: 70%; inline-size: 50%; background-color: white;">
                <MudFab Class="mx-auto my-auto" Icon="@Icons.Filled.CalendarMonth" Style="color: #555E61; background-color: white; block-size: 20px; box-shadow: none;" Label="09/08 TU" />
            </MudPaper>
        </div>
    </MudCarouselItem>
     <MudCarouselItem Transition="Transition.Slide" Color="@Color.Secondary">
        <div class="d-flex" style="block-size: 100%;">
            <MudPaper Class="mx-auto my-auto d-flex" style="block-size: 70%; inline-size: 50%; background-color: white;">
                <MudFab Class="mx-auto my-auto" Icon="@Icons.Filled.CalendarMonth" Style="color: #555E61; background-color: white; block-size: 20px; box-shadow: none;" Label="10/08 TU" />
            </MudPaper>
        </div>
    </MudCarouselItem>
     <MudCarouselItem Transition="Transition.Slide" Color="@Color.Secondary">
        <div class="d-flex" style="block-size: 100%;">
            <MudPaper Class="mx-auto my-auto d-flex" style="block-size: 70%; inline-size: 50%; background-color: white;">
                <MudFab Class="mx-auto my-auto" Icon="@Icons.Filled.CalendarMonth" Style="color: #555E61; background-color: white; block-size: 20px; box-shadow: none;" Label="11/08 TU" />
            </MudPaper>
        </div>
    </MudCarouselItem>
     <MudCarouselItem Transition="Transition.Slide" Color="@Color.Secondary">
        <div class="d-flex" style="block-size: 100%;">
            <MudPaper Class="mx-auto my-auto d-flex" style="block-size: 70%; inline-size: 50%; background-color: white;">
                <MudFab Class="mx-auto my-auto" Icon="@Icons.Filled.CalendarMonth" Style="color: #555E61; background-color: white; block-size: 20px; box-shadow: none;" Label="12/08 TU" />
            </MudPaper>
        </div>
    </MudCarouselItem>
     <MudCarouselItem Transition="Transition.Slide" Color="@Color.Secondary">
        <div class="d-flex" style="block-size: 100%;">
            <MudPaper Class="mx-auto my-auto d-flex" style="block-size: 70%; inline-size: 50%; background-color: white;">
                <MudFab Class="mx-auto my-auto" Icon="@Icons.Filled.CalendarMonth" Style="color: #555E61; background-color: white; block-size: 20px; box-shadow: none;" Label="13/08 TU" />
            </MudPaper>
        </div>
    </MudCarouselItem>
     <MudCarouselItem Transition="Transition.Slide" Color="@Color.Secondary">
        <div class="d-flex" style="block-size: 100%;">
            <MudPaper Class="mx-auto my-auto d-flex" style="block-size: 70%; inline-size: 50%; background-color: white;">
                <MudFab Class="mx-auto my-auto" Icon="@Icons.Filled.CalendarMonth" Style="color: #555E61; background-color: white; block-size: 20px; box-shadow: none;" Label="14/08 TU" />
            </MudPaper>
        </div>
    </MudCarouselItem>
     <MudCarouselItem Transition="Transition.Slide" Color="@Color.Secondary">
        <div class="d-flex" style="block-size: 100%;">
            <MudPaper Class="mx-auto my-auto d-flex" style="block-size: 70%; inline-size: 50%; background-color: white;">
                <MudFab Class="mx-auto my-auto" Icon="@Icons.Filled.CalendarMonth" Style="color: #555E61; background-color: white; block-size: 20px; box-shadow: none;" Label="15/08 TU" />
            </MudPaper>
        </div>
    </MudCarouselItem>
     <MudCarouselItem Transition="Transition.Slide" Color="@Color.Secondary">
        <div class="d-flex" style="block-size: 100%;">
            <MudPaper Class="mx-auto my-auto d-flex" style="block-size: 70%; inline-size: 50%; background-color: white;">
                <MudFab Class="mx-auto my-auto" Icon="@Icons.Filled.CalendarMonth" Style="color: #555E61; background-color: white; block-size: 20px; box-shadow: none;" Label="16/08 TU" />
            </MudPaper>
        </div>
    </MudCarouselItem>
</MudCarousel>

<MudDivider Class="mt-3" />

<MudGrid Class="pr-5">
    <MudItem Class="my-auto" xs="2">
        <MudIconButton Icon="@Icons.Filled.FormatListBulleted" Color="Color.Inherit" Link="https://mudblazor.com/" Target="_blank" />
    </MudItem>
    <MudItem Class="my-auto" xs="6">
        <MudText Class="d-inline">All games</MudText>
    </MudItem>
    <MudItem Class="my-auto" xs="2">
        <MudChip Class="d-inline py-1" Color="Color.Error">14</MudChip>
    </MudItem>
     <MudItem Class="my-auto" xs="2">
        <MudChip Class="d-inline py-1">384</MudChip>
    </MudItem>
</MudGrid>

<MudPaper Style="inline-size: 100%; background-color: #FF4081;">
    <MudText Class="pl-4 pt-1 pb-1" Style="color: white;">ATP/WTA/CHALLENGER</MudText>
</MudPaper>

<MudPaper Class="mt-3" Style="block-size: 100%; box-shadow: none;">
    <MudGrid Class="pr-5">
        <MudItem Class="my-auto" xs="2">
            <MudImage Fluid="true" Src="https://res.cloudinary.com/djokeracloud/image/upload/v1660044148/tennid-dream-team/germany_ku2xlt.png" Alt="Germany" Class="rounded-lg"/>
        </MudItem>
        <MudItem Class="my-auto" xs="6">
            <MudText Style="color: #555E61;">GERMANY</MudText>
            <MudText>
                <strong>Hamburg ATP</strong>
            </MudText>
        </MudItem>
        <MudItem Class="my-auto" xs="2">
            <MudChip Class="d-inline py-1" Color="Color.Error">14</MudChip>
        </MudItem>
        <MudItem Class="my-auto" xs="2">
            <MudChip Class="d-inline py-1">384</MudChip>
        </MudItem>
    </MudGrid>
</MudPaper>

<MudDivider Class="mt-2" />

<MudPaper Class="mt-3" Style="block-size: 100%; box-shadow: none;">
    <MudGrid Class="pr-5">
        <MudItem Class="my-auto" xs="2">
            <MudImage Fluid="true" Src="https://res.cloudinary.com/djokeracloud/image/upload/v1660044148/tennid-dream-team/germany_ku2xlt.png" Alt="Germany" Class="rounded-lg"/>
        </MudItem>
        <MudItem Class="my-auto" xs="6">
            <MudText Style="color: #555E61;">GERMANY</MudText>
            <MudText>
                <strong>Hamburg ATP</strong>
            </MudText>
        </MudItem>
        <MudItem Class="my-auto" xs="2">
            <MudChip Class="d-inline py-1" Color="Color.Error">14</MudChip>
        </MudItem>
        <MudItem Class="my-auto" xs="2">
            <MudChip Class="d-inline py-1">384</MudChip>
        </MudItem>
    </MudGrid>
</MudPaper>

<MudDivider Class="mt-2" />

<MudPaper Class="mt-3" Style="block-size: 100%; box-shadow: none;">
    <MudGrid Class="pr-5">
        <MudItem Class="my-auto" xs="2">
            <MudImage Fluid="true" Src="https://res.cloudinary.com/djokeracloud/image/upload/v1660044148/tennid-dream-team/germany_ku2xlt.png" Alt="Germany" Class="rounded-lg"/>
        </MudItem>
        <MudItem Class="my-auto" xs="6">
            <MudText Style="color: #555E61;">GERMANY</MudText>
            <MudText>
                <strong>Hamburg ATP</strong>
            </MudText>
        </MudItem>
        <MudItem Class="my-auto" xs="2">
            <MudChip Class="d-inline py-1" Color="Color.Error">14</MudChip>
        </MudItem>
        <MudItem Class="my-auto" xs="2">
            <MudChip Class="d-inline py-1">384</MudChip>
        </MudItem>
    </MudGrid>
</MudPaper>

<MudDivider Class="mt-2" />

<MudPaper Class="mt-3" Style="block-size: 100%; box-shadow: none;">
    <MudGrid Class="pr-5">
        <MudItem Class="my-auto" xs="2">
            <MudImage Fluid="true" Src="https://res.cloudinary.com/djokeracloud/image/upload/v1660044148/tennid-dream-team/germany_ku2xlt.png" Alt="Germany" Class="rounded-lg"/>
        </MudItem>
        <MudItem Class="my-auto" xs="6">
            <MudText Style="color: #555E61;">GERMANY</MudText>
            <MudText>
                <strong>Hamburg ATP</strong>
            </MudText>
        </MudItem>
        <MudItem Class="my-auto" xs="2">
            <MudChip Class="d-inline py-1" Color="Color.Error">14</MudChip>
        </MudItem>
        <MudItem Class="my-auto" xs="2">
            <MudChip Class="d-inline py-1">384</MudChip>
        </MudItem>
    </MudGrid>
</MudPaper>

<MudDivider Class="mt-2" />

<MudPaper Class="mt-3" Style="block-size: 100%; box-shadow: none;">
    <MudGrid Class="pr-5">
        <MudItem Class="my-auto" xs="2">
            <MudImage Fluid="true" Src="https://res.cloudinary.com/djokeracloud/image/upload/v1660044148/tennid-dream-team/germany_ku2xlt.png" Alt="Germany" Class="rounded-lg"/>
        </MudItem>
        <MudItem Class="my-auto" xs="6">
            <MudText Style="color: #555E61;">GERMANY</MudText>
            <MudText>
                <strong>Hamburg ATP</strong>
            </MudText>
        </MudItem>
        <MudItem Class="my-auto" xs="2">
            <MudChip Class="d-inline py-1" Color="Color.Error">14</MudChip>
        </MudItem>
        <MudItem Class="my-auto" xs="2">
            <MudChip Class="d-inline py-1">384</MudChip>
        </MudItem>
    </MudGrid>
</MudPaper>

<MudDivider Class="mt-2" />

<MudPaper Class="mt-3" Style="block-size: 100%; box-shadow: none;">
    <MudGrid Class="pr-5">
        <MudItem Class="my-auto" xs="2">
            <MudImage Fluid="true" Src="https://res.cloudinary.com/djokeracloud/image/upload/v1660044148/tennid-dream-team/germany_ku2xlt.png" Alt="Germany" Class="rounded-lg"/>
        </MudItem>
        <MudItem Class="my-auto" xs="6">
            <MudText Style="color: #555E61;">GERMANY</MudText>
            <MudText>
                <strong>Hamburg ATP</strong>
            </MudText>
        </MudItem>
        <MudItem Class="my-auto" xs="2">
            <MudChip Class="d-inline py-1" Color="Color.Error">14</MudChip>
        </MudItem>
        <MudItem Class="my-auto" xs="2">
            <MudChip Class="d-inline py-1">384</MudChip>
        </MudItem>
    </MudGrid>
</MudPaper>

<MudDivider Class="mt-2" />

<MudPaper Class="mt-3" Style="block-size: 100%; box-shadow: none;">
    <MudGrid Class="pr-5">
        <MudItem Class="my-auto" xs="2">
            <MudImage Fluid="true" Src="https://res.cloudinary.com/djokeracloud/image/upload/v1660044148/tennid-dream-team/germany_ku2xlt.png" Alt="Germany" Class="rounded-lg"/>
        </MudItem>
        <MudItem Class="my-auto" xs="6">
            <MudText Style="color: #555E61;">GERMANY</MudText>
            <MudText>
                <strong>Hamburg ATP</strong>
            </MudText>
        </MudItem>
        <MudItem Class="my-auto" xs="2">
            <MudChip Class="d-inline py-1" Color="Color.Error">14</MudChip>
        </MudItem>
        <MudItem Class="my-auto" xs="2">
            <MudChip Class="d-inline py-1">384</MudChip>
        </MudItem>
    </MudGrid>
</MudPaper>

<MudDivider Class="mt-2" />

<MudPaper Class="mt-3" Style="block-size: 100%; box-shadow: none;">
    <MudGrid Class="pr-5">
        <MudItem Class="my-auto" xs="2">
            <MudImage Fluid="true" Src="https://res.cloudinary.com/djokeracloud/image/upload/v1660044148/tennid-dream-team/germany_ku2xlt.png" Alt="Germany" Class="rounded-lg"/>
        </MudItem>
        <MudItem Class="my-auto" xs="6">
            <MudText Style="color: #555E61;">GERMANY</MudText>
            <MudText>
                <strong>Hamburg ATP</strong>
            </MudText>
        </MudItem>
        <MudItem Class="my-auto" xs="2">
            <MudChip Class="d-inline py-1" Color="Color.Error">14</MudChip>
        </MudItem>
        <MudItem Class="my-auto" xs="2">
            <MudChip Class="d-inline py-1">384</MudChip>
        </MudItem>
    </MudGrid>
</MudPaper>

<MudDivider Class="mt-2" />

<MudPaper Class="mt-3" Style="block-size: 100%; box-shadow: none;">
    <MudGrid Class="pr-5">
        <MudItem Class="my-auto" xs="2">
            <MudImage Fluid="true" Src="https://res.cloudinary.com/djokeracloud/image/upload/v1660044148/tennid-dream-team/germany_ku2xlt.png" Alt="Germany" Class="rounded-lg"/>
        </MudItem>
        <MudItem Class="my-auto" xs="6">
            <MudText Style="color: #555E61;">GERMANY</MudText>
            <MudText>
                <strong>Hamburg ATP</strong>
            </MudText>
        </MudItem>
        <MudItem Class="my-auto" xs="2">
            <MudChip Class="d-inline py-1" Color="Color.Error">14</MudChip>
        </MudItem>
        <MudItem Class="my-auto" xs="2">
            <MudChip Class="d-inline py-1">384</MudChip>
        </MudItem>
    </MudGrid>
</MudPaper>

<MudDivider Class="mt-2" />

<MudPaper Class="mt-3" Style="block-size: 100%; box-shadow: none;">
    <MudGrid Class="pr-5">
        <MudItem Class="my-auto" xs="2">
            <MudImage Fluid="true" Src="https://res.cloudinary.com/djokeracloud/image/upload/v1660044148/tennid-dream-team/germany_ku2xlt.png" Alt="Germany" Class="rounded-lg"/>
        </MudItem>
        <MudItem Class="my-auto" xs="6">
            <MudText Style="color: #555E61;">GERMANY</MudText>
            <MudText>
                <strong>Hamburg ATP</strong>
            </MudText>
        </MudItem>
        <MudItem Class="my-auto" xs="2">
            <MudChip Class="d-inline py-1" Color="Color.Error">14</MudChip>
        </MudItem>
        <MudItem Class="my-auto" xs="2">
            <MudChip Class="d-inline py-1">384</MudChip>
        </MudItem>
    </MudGrid>
</MudPaper>

<MudDivider Class="mt-2" />

<MudPaper Class="mt-3" Style="block-size: 100%; box-shadow: none;">
    <MudGrid Class="pr-5">
        <MudItem Class="my-auto" xs="2">
            <MudImage Fluid="true" Src="https://res.cloudinary.com/djokeracloud/image/upload/v1660044148/tennid-dream-team/germany_ku2xlt.png" Alt="Germany" Class="rounded-lg"/>
        </MudItem>
        <MudItem Class="my-auto" xs="6">
            <MudText Style="color: #555E61;">GERMANY</MudText>
            <MudText>
                <strong>Hamburg ATP</strong>
            </MudText>
        </MudItem>
        <MudItem Class="my-auto" xs="2">
            <MudChip Class="d-inline py-1" Color="Color.Error">14</MudChip>
        </MudItem>
        <MudItem Class="my-auto" xs="2">
            <MudChip Class="d-inline py-1">384</MudChip>
        </MudItem>
    </MudGrid>
</MudPaper>